<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="form" action="/updation" method="post">
        <h1> UPDATION FORM</h1>
        <input type="text" name="name" id="name" placeholder="Enter your username for which updation is needed">
        <input type="email" placeholder=" email you want to update" name="email">
        <input type="password" placeholder="password you want to update" name="password">
        <button class="submit">Submit</button>
      </form>
    
</body>
</html> 